.vscode/settings.json
.cache/
build/
debug/

Middlewares/
Drivers/STM32F4xx_HAL_Driver/
Drivers/CMSIS/Device/
Drivers/CMSIS/Include/

stm32_lock.h
newlib_lock_glue.c
startup_stm32h723xx.s
STM32H723VGTx_FLASH.ld

doc/*.drawio